version: '3.7'

services:
  ubuntu-apache:
    container_name: ubuntu-apache
    build: ./services/ubuntu-apache
    volumes:
    - $PWD/services/ubuntu-apache/public:/var/www/html
    - $PWD/services/ubuntu-apache/etc/apache2/apache2.conf:/etc/apache2/apache2.conf
    ports:
    - "127.0.0.1:80:80"

  debian-apache:
    container_name: debian-apache
    build: ./services/debian-apache
    volumes:
    - $PWD/services/debian-apache/public:/var/www/html
    - $PWD/services/debian-apache/etc/apache2/apache2.conf:/etc/apache2/apache2.conf
    ports:
    - "127.0.0.2:80:80"

  centos-apache:
    container_name: centos-apache
    build: ./services/centos-apache
    volumes:
    - $PWD/services/centos-apache/public:/var/www/html
    ports:
    - "127.0.0.3:80:80"

  fedora-apache:
    container_name: fedora-apache
    build: ./services/fedora-apache
    volumes:
    - $PWD/services/fedora-apache/public:/var/www/html
    ports:
    - "127.0.0.4:80:80"

  alpine-apache:
    container_name: alpine-apache
    build: ./services/alpine-apache
    volumes:
    - $PWD/services/alpine-apache/public:/var/www/localhost/htdocs
    ports:
    - "127.0.0.5:80:80"